* {
  color: #fff;
  background-color: rgb(50, 50, 51);
}
body {
  
  display: grid;
  grid-row: auto;

  button{
    cursor: pointer;
  }
  header {
    grid-row:1/2;
    display: grid;

    grid-template-columns: repeat(12 1fr);
    margin: 10px;

    button {
      grid-column: 1/8;
      border-radius: 5px;
      border: 5px solid #000;
      height: 60px;
      background: #a9263e;
      font-size: 20px;
    }

    .nav {
      grid-column: 8/13;
      display: grid;
      grid-template-columns: 12 1fr;

      .start {
        grid-column: 1/4;
        border-radius: 5px;
        background-color: #448e59;
      }
      .stop {
        grid-column: 4/7;
        border-radius: 5px;
        background-color: #a9263e;
      }
      .reset {
        grid-column: 7/10;
        border-radius: 5px;
        background-color: #32bfe0;
      }
      .exit {
        grid-column: 10/13;
        border-radius: 5px;
        background-color: #a9263e;
      }
    }
  }
  canvas{
    grid-row:2/3;
    margin: 10px;
    border-radius: 5px;
  }
 
  nav {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 12 1fr;
    height: 60px;
    font-size: 40px;
    margin: 5px;

    button {
      border-radius: 5px;
      border: 5px solid #000;
      background: #292323;
      font-size: 30px;
    }
  }

  .log {
    background-color: #282626;
    grid-column: 1/7;
    border-radius: 5px;
    border: 5px solid #000;
    color: #16b02a;
    background: #292323;
  }
  .mode {
    background-color: #332d2d;
    grid-column: 7/8;
  }
  .programmation {
    background-color: #448e59;
    grid-column: 8/11;
  }
  .simulation {
    background-color: #7a6b6b;
    grid-column: 11/13;
  }
}
