.App {
  text-align: center;
  margin: 0;
  height: 100%;

  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  padding-left: 1vw;
  padding-right: 1vw;
}

.home-background {
  background-color: #0054ff; /* Fond pour la vue Home */
}

.base-background {
  background-color: #456789; /* Fond pour la vue About */
}

#navigation {
  cursor: pointer;
  display: flex;
  justify-content: right;
  gap: 10px;

  ul {
    list-style-type: none;
  }

  .App-link {
     color: #61dafb;
   }
}


