.App {
  text-align: center;
  margin: 0;
  height: 100%;

  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navigation {
  cursor: pointer;
  display: flex;
  justify-content: right;
  gap: 10px;

  ul {
    list-style-type: none;
  }

  .App-link {
     color: #61dafb;
   }
}


