.header-bar {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 0.75em;

  #title {
    font-size: 0.75em;
  }

  #nav {
    display: flex;
    gap: 20px;
    align-items: center;

    #navigation {
      align-items: center;
    }
  }
}