@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, #app {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #041c34;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}